<div class="header">
    <header class="text-center" style="display: flex; justify-content: center; align-items: center; margin: 0 auto">
        <div style="display: flex; justify-content: space-between; width: 71rem">
            <div class="oswald-header" onclick="window.location.href='/articles'" style="font-size: 2.5rem; cursor: pointer;">woogie-log
            </div>
            <div style="display: flex; justify-content: center; align-items: center; position: relative;">
                <div th:if="${currentUser == null}">
                    <a class="btn btn-secondary btn-sm" href="/sign-in" id="sign-in" th:if="${currentUser == null}">로그인</a>
                </div>
                <div th:if="${currentUser != null}">
                    <a class="btn btn-outline-info" href="/new-article" id="create-article-btn">글 등록하기</a>
                    <img onclick="openToggle()"
                         th:src="${currentUser.profileImage != null ? currentUser.profileImage : '/profile-images/default-profile.jpg'}"
                         style="border-radius: 50%; width:2.5rem; height:2.5rem; cursor: pointer">
                    <div class="toggle-list hidden" id="toggle-list"
                         style="position:absolute; top: 3.5rem; right: -1rem; width: 7rem; height: 7rem;">
                        <a th:href="@{/my-page}">
                            <button>마이페이지</button>
                        </a>
                        <button onclick="logout()">로그아웃</button>
                    </div>
                </div>
            </div>
        </div>
    </header>
</div>