<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Sign In</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
</head>
<body>
<div class="container my-5">
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6 bg-dark text-light text-center border rounded-top border-bottom-0 border-dark p-1">
            <h5 class="mb-1 text-center">Sign In</h5>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6 border rounded-bottom border-dark p-3">
            <div th:if="${param.fail}">
                <div class="alert alert-success">
                    Wrong Username or Password
                </div>
            </div>

<!--            <div th:if="${loginError}" class="alert alert-danger">Wrong Username or Password</div>-->
            <form id="loginForm" action="#" th:action="@{/sign-in}" method="post">
                <div class="form-group">
                    <label for="username">Username</label>
                    <input type="text" class="form-control" name="username" placeholder="Enter Username" required autofocus>
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" class="form-control" name="password" placeholder="Enter Password" required>
                </div>
                <div class="text-center">
                    <button type="submit" class="btn btn-dark">Submit</button>
                    <a class="btn btn-success" href="#" th:href="@{/sign-up}">Sign Up</a>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
<script>
    document.getElementById('loginForm').addEventListener('submit', async function (event) {
        event.preventDefault();

        const username = document.querySelector('input[name="username"]').value;
        const password = document.querySelector('input[name="password"]').value;

        await fetch('/api/v1/sign-in', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({
                username: username,
                password: password
            })
        }).then(response => {
            console.log('???')
            if (response.ok) {
                console.log(response);
                return response.json();
            } else {
                return response.text().then(message => {
                    document.querySelector('.alert-danger').textContent = message;
                    document.querySelector('.alert-danger').style.display = 'block';
                });
            }
        }).then(token => {
            localStorage.setItem('token', token['accessToken']);
        }).catch(error => {
            console.error('Error:', error);
        });

        const accessToken = localStorage.getItem("token");
        console.log(JSON.stringify(accessToken) + '####');
        await fetch('/articles', {
            method: 'GET',
            headers: {
                'Authorization': 'Bearer ' + accessToken
            }
        }).then(response => {
            alert('hi')
            if (response.ok) {
                location.replace(response.url);
            }
        })
    });
</script>
</html>

// js 호출 안됨
// 회원가입 비밀번호 확인 불일치 시 에러메시지 뜨지 않음